body{
    display:flex;
    width:100vw;
    height:100vh;
    justify-content: center;
    align-items: center;
}
#videoconsola{
    width:950px;
    height:430px;
    background-color: #b1b1b1;
    border-radius: 195px;
    box-shadow: 0 -17px 17px black;
}
#vita{
    display:flex;
    position: relative;
    top: -274px;
    left: 77px;
    width: 2cm;
    height: 1cm;
    border-radius: 50%;
    background: radial-gradient(#737373, black) ;
    justify-content: center;
    align-items: center;
}
#vita img{
    width:47px;
}
#start{
    /* pongo el texto del boton centrado: "A" */
    /* hago la elipse: "B" */
    /* lo alineo con precisión en la posición exacta: "C" */
    position: relative;                         /* C */
    display: flex;               /* A */
    width: 10mm;                        /* B */ 
    height: 5mm;                        /* B */
    top:-220px;                                 /* C */
    left:784px;                                 /* C */
    border-radius: 50%;                 /* B */
    background: black;
    color:rgb(222, 222, 222);
    font-size:xx-small;                         /* C */
    justify-content:center;      /* A */
    align-items: center;         /* A */
}
#select{
    position: relative;
    display: flex;
    width: 10mm;
    height: 5mm;
    top: -238px;
    left: 839px;
    border-radius: 50%;
    background: black;
    color:rgb(222, 222, 222);
    font-size:xx-small;
    justify-content:center;
    align-items: center;
}
#cruceta{
    position:relative;
    float:left;
    width: 44mm;
    height: 44mm;
    top: -90mm;
    left: 20mm;
}
/* divs de la cruceta */
#cruceta .fondo{
    position:relative;
    width: 29mm;
    height: 30mm;
    top: 115px;
    left: -44px;
    border-radius: 50%;
    background: linear-gradient(45deg, black, transparent);
}
#cruceta .horizontal{
    position:relative;
    width: 59%;
    height: 18%;
    top: -55px;
    left: -39px;
    background-color: black;
}
#cruceta .vertical{
    position:relative;
    width:18%;
    height:59%;
    top: 9px;
    left: -5px;
    background-color: black;
}
#joyL{
    position:relative;
    float:left;
    width: 15mm;
    height: 15mm;
    top:-21mm;
    left:-24mm;
    border-radius: 50%;
    background: linear-gradient(grey,black);
    border: 7px solid grey;
}
#joyR{
    position:relative;
    width: 15mm;
    height: 15mm;
    top: -21mm;
    left: 212mm;
    border-radius: 50%;
    background: linear-gradient(grey,black);
    border: 7px solid grey;
}
#pantalla{
    position:relative;
    width: 153mm;
    height: 92mm;
    top: -193mm;
    left: 50mm;
    background: linear-gradient(155deg,grey,black)
}
#botonera{
    position:relative;
    width: 5cm;
    height: 5cm;
    top: -107mm;
    left: 225mm;
}
/* Comun a todos los botones */
#botonera .boton{
    position:relative;
    width:10%;
    height:10%;
    top:0;
    left:0;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
/* divs de la botonera */
#botonera #x{
    top: 80px;
    left: -2px;
    color:white;
    background: radial-gradient(#c8c8c8, black);
    border: 3px ridge rgb(118, 118, 118);
}
#botonera #o{
    top: 22px;
    left: 32px;
    color:white;
    background: radial-gradient(#c8c8c8, black);
    border: 3px ridge rgb(118, 118, 118);
}
#botonera #cuadrado{
    top:-2px;
    left:-38px;
    color:white;
    background: radial-gradient(#c8c8c8, black);
    border: 3px ridge rgb(118, 118, 118);
}
#botonera #triangulo{
    top: -60px;
    left: -4px;
    color:white;
    background: radial-gradient(#c8c8c8, black);
    border: 3px ridge rgb(118, 118, 118);
}
#botonera #fondo{
    position:relative;
    width: 3cm;
    height: 3cm;
    top: 115px;
    left: -48px;
    background: linear-gradient(45deg, black, transparent);
    border-radius: 50%;
}
/* etiquetas de la botonera: posicionamiento */
#botonera .x{
    font-size:15px;
}
#botonera .o{
    font-size:10px;
    margin-top: 3px;
}
#botonera .cuadrado{
    font-size:10px;
    margin-top:3px;
}
#botonera .triangulo{
    font-size:13px;
    margin-top:-1px;
}
#audioL{
    display:grid;
    position:relative;
    width:40px;
    height:30px;
    top: -386px;
    left: 27px;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(3,1fr);
}
#audioL i{
    font-size: 10px;
}
#audioL .inferior{
    margin-left:3px;
}
#audioR{
    display:grid;
    position:relative;
    width:40px;
    height:30px;
    top: -413px;
    left: 884px;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(3,1fr);
}
#audioR i{
    font-size: 10px;
}
#audioR .inferior{
    margin-left:-3px;
}
#sonyLogo{
    position:relative;
    top: -650px;
    left: 92px;
}
#sonyLogo img{
    width: 80px;
}
#vitaLogo{
    position:relative;
    top: -340px;
    left: 421px;
}
#vitaLogo img{
    width: 122px;
}
/* SVG escalado y posicionamiento */
.svgArribaIzquierda{
    translate: 2px -1px;
    
}
.svgArribaDerecha{
    translate: 345px -1px;
    transform: rotateY(180deg); 
}
.svgAbajoIzquierda{
    translate: -607px 282px;
    transform: rotateX(180deg);
    scale: 1.2;
}
.svgAbajoDerecha{
    translate: 653px 128px;
    transform: rotate(180deg);
    scale: 1.2;
}