body{
    display:flex;
    width:100vw;
    height:100vh;
    justify-content: center;
    align-items: center;
}
#videoconsola{
    width:950px;
    height:430px;
    background-color: darkgrey;
    border-radius: 195px;
}
#vita{
    position: relative;
    top: 0;
    left: 0;
    width: 2cm;
    height: 1cm;
    border-radius: 50%;
    background: lightblue;
}
#start{
    /* pongo el texto del boton centrado: "A" */
    /* hago la elipse: "B" */
    /* lo alineo con precisión en la posición exacta: "C" */
    position: relative;                         /* C */
    display: flex;               /* A */
    width: 10mm;                        /* B */ 
    height: 5mm;                        /* B */
    top:0;                                      /* C */
    left:0;                                     /* C */
    border-radius: 50%;                 /* B */
    background: red;
    color:black;
    font-size:xx-small;                         /* C */
    justify-content:center;      /* A */
    align-items: center;         /* A */
}
#select{
    position: relative;                         /* C */
    display: flex;               /* A */
    width: 10mm;                        /* B */ 
    height: 5mm;                        /* B */
    top:0;                                      /* C */
    left:0;                                     /* C */
    border-radius: 50%;                 /* B */
    background: red;
    color:black;
    font-size:xx-small;                         /* C */
    justify-content:center;      /* A */
    align-items: center;         /* A */
}
#cruceta{
    position:relative;
    float:left;
    width: 45mm;
    height: 45mm;
    top: -3mm;
    left: 20mm;
}
#cruceta .fondo{
    position:relative;
    width: 3cm;
    height: 3cm;
    top: 117px;
    left: -49px;
    border: 10px solid grey;
    border-radius: 50%;
}
#cruceta .horizontal{
    position:relative;
    width:60%;
    height:20%;
    top: -40%;
    left: -20%;
    background-color: black;
}
#cruceta .vertical{
    position:relative;
    width:20%;
    height:60%;
    top:0;
    left:0;
    background-color: black;
}
#joyL{
    position:relative;
    float:left;
    width:2cm;
    height:2cm;
    top:7cm;
    left:-24mm;
    border-radius: 50%;
    background-color: black;
}
#joyR{
    position:relative;
    width:2cm;
    height:2cm;
    top: 7cm;
    left: 21cm;
    border-radius: 50%;
    background-color: black;
}
#pantalla{
    position:relative;
    width: 16cm;
    height: 10cm;
    top: -8.3cm;
    left: 4.5cm;
    background: linear-gradient(155deg,grey,black)
}
#botonera{
    position:relative;
    width: 5cm;
    height: 5cm;
    top: -24mm;
    left: 224mm;
}
#botonera .boton{
    position:relative;
    width:10%;
    height:10%;
    top:0;
    left:0;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
/* divs de la botonera */
#botonera #x{
    top:85px;
    left:0;
}
#botonera #o{
    top:28px;
    left:37px;
}
#botonera #cuadrado{
    top:9px;
    left:-38px;
}
#botonera #triangulo{
    top:-47px;
    left:0;
}
#botonera #fondo{
    position:relative;
    width: 3cm;
    height: 3cm;
    top: 122px;
    left: -57px;
    border: 10px solid grey;
    border-radius: 50%;
}
/* etiquetas de la botonera */
#botonera .x{
    font-size:15px;
    top:0;
    left:0;
}
#botonera .o{
    font-size:10px;
    margin-top: 3px;
}
#botonera .cuadrado{
    font-size:10px;
    margin-top:3px;
}
#botonera .triangulo{
    font-size:13px;
    margin-top:-1px;
}